.dugme1 {
    background-color: #98C1D9;
    font-size: 1.5rem; 
    padding: 1rem 2rem; 
    transition: 0.4s;
}

.dugme1:hover {
    background-color: #EE6C4D;
}

.linija_ispod_dugmeta{
    text-decoration: none;
}

.dugme2 {
    background-color: #98C1D9;
    font-size: 1.7rem; 
    padding: 1rem 2rem; 
    transition: 0.4s;
    padding: 0.4rem 0.8rem; 
    font-size: 0.9rem;       
    line-height: 1.7;
  }
  
.dugme2:hover {
    background-color: #EE6C4D;
}