.dugme1 {
    background-color: #4577b7;
    transition: 0.4s;
    padding: 4px 8px; 
    font-size: 14px; 
    line-height: 1.2; 
}

.dugme1:hover {
    background-color: #EE6C4D;
}

.linija_ispod_dugmeta{
    text-decoration: none;
}

.dugme2 {
    background-color: #98C1D9;
    transition: 0.4s;
    padding: 4px 8px; 
    font-size: 14px; 
    line-height: 1.2; 
}

.dugme2:hover {
    background-color: #4577b7;
}

.dugme3 {
    background-color: #EE6C4D;
    transition: 0.4s;
    padding: 4px 8px; 
    font-size: 14px; 
    line-height: 1.2; 
}

.dugme3:hover {
    background-color: #4577b7;
}